.App {
  min-height: 90vh;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0F0066;
  font-size: 2rem;
  margin-top: 6rem;
}

.header span {
  font-family: 'Petit Formal Script', cursive;
  font-size: 6rem;
  text-transform: lowercase;
  color: #8670FF;
  margin-top: -15px;
}

.container-survey {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.wrapper-survey {
  margin-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form input {
  padding-left: 0;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid gray;

}

.buttonWrapper {
  text-align: center;
}

button {
  margin-top: 30px;
  width: 40%;
}

.wrapper-footer {
  margin-top: 60px;
  font-size: .9rem;
  color: #0F0066
}