.App {
  min-height: 100vh;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0F0066;
  font-size: 2rem;
  margin-top: 6rem;
}

.header span {
  font-family: 'Petit Formal Script', cursive;
  font-size: 6rem;
  text-transform: lowercase;
  color: #8670FF;
  margin-top: -15px;
}

.container-survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.wrapper-survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}


.form input {
  padding-left: 0;
}

.label {
  padding-right: 20px;
}

button {
  margin-top: 30px;
}