@import url('https://fonts.googleapis.com/css?family=Oswald:wght@300;500&family=Petit+Formal+Script&family=Playfair+Display&display=swap');


body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}